<mat-card-title class="text-center">About Us</mat-card-title>

<div fxLayout="row wrap" class="container">

  <div fxFlex>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua. Lacinia at quis risus sed vulputate odio ut enim. Varius sit amet mattis vulputate. Massa tincidunt
      dui ut ornare lectus sit amet est placerat. Condimentum lacinia quis vel eros donec ac odio tempor. Ultrices dui
      sapien eget mi proin sed libero. Pellentesque elit eget gravida cum sociis natoque. Facilisis sed odio morbi quis.
      Dolor sit amet consectetur adipiscing elit. Lacus suspendisse faucibus interdum posuere lorem ipsum dolor. Nunc
      mattis enim ut tellus elementum. Morbi non arcu risus quis varius quam quisque id. Dignissim sodales ut eu sem
      integer vitae justo eget. Pellentesque elit ullamcorper dignissim cras tincidunt.<br><br>

      Bibendum neque egestas congue quisque egestas. Pretium vulputate sapien nec sagittis aliquam malesuada bibendum.
      Tellus mauris a diam maecenas sed enim ut sem. Id aliquet lectus proin nibh nisl. Nam libero justo laoreet sit
      amet cursus. Vitae justo eget magna fermentum iaculis eu non diam phasellus. Posuere ac ut consequat semper
      viverra nam libero justo. Vitae auctor eu augue ut lectus. Nunc consequat interdum varius sit amet mattis
      vulputate. Posuere ac ut consequat semper viverra nam libero justo. Diam vulputate ut pharetra sit amet aliquam id
      diam maecenas. </p>
  </div>
</div>