/* WEB 425 Angular with TypeScript
Contributors

Contributors:
Richard Krasso
Thomas James Schultz */

.navButton {
  color: #47525E !important;
}

.main-container {
  padding-top: 25px;
  width: 80%;
  margin: 0 auto;
}