<!-- WEB 425 Angular with TypeScript
Contributors

Contributors:
Richard Krasso
Thomas James Schultz -->

<mat-toolbar class="toolbar" style="background-color: #FFBA5C;">
  <mat-toolbar-row>
    <div class="logo">
      <!-- logo for site -->
      <img src="./assets/Gryffindor-Logo.png" height="55" />
    </div>
    <div style="width: 80%">
      <!-- navigation bar -->
      <div fxLayout="row wrap" fxLayoutAlign="end start">
        <button class="navButton" mat-button routerLink="/">Home</button>
        <button class="navButton" mat-button routerLink="/about">About Us</button>
        <button class="navButton" mat-button routerLink="/contact">Contact Us</button>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<!-- this holds all the content in the body -->
<br>
<div fxLayout="row wrap">
  <div fxFlex>
    <mat-card class="main-container" style="background-color: #740001; box-shadow: none;">
      <br><br>
      <mat-card-content>
        <router-outlet></router-outlet>
      </mat-card-content>
    </mat-card>
  </div>
</div>